*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

.container{
    max-width: 65vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header_container{
    display: flex;
    flex-direction: column;
}
.header_title{
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 1rem;
    line-height: 2rem;
    text-align: center;
}
.header_content{
    max-width: 568px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: rgb(154, 148, 148);
    font-size: 1rem;
    text-align: center;
}

.main_container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,300px));
    justify-content: center;
    gap: 1.5rem;
}

.card_container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid rgb(202, 190, 190);
    border-radius: 5px;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_container:hover .card_image_container img{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.card_title{
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
}
.card_title:hover{
    color: rgb(60, 60, 200);
}
.card_desc{
    color: rgb(149, 149, 149);
    font-size: 1rem;
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.author_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.author_avtar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 2px solid rgb(222, 196, 196);
    border-radius: 50%;
    background-color: rgb(210, 204, 204);
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.author_tag_container{
    display: flex;
    align-items: center;
    border: 2px solid rgb(193, 193, 193);
    padding: 0 0.5rem;
    border-radius: 0.4rem;
    line-height: 1.2rem;
}
.author_name{
    color: rgb(57, 57, 203);
    font-weight: 700;
}
.author_date{
    color: gray;
}

#back{
    margin-left: 25px;
    margin-top: 25px;
    height: 30px;
    width: 100px;
}